.horizontal-scrolling {
    width: 5000px;
    height: 100vh; 
    overflow-x: auto; 
    white-space: nowrap; 
    background-image: url('./images/week5-background.jpeg');
    background-size: auto 100%; 
    background-repeat: no-repeat; 
  }


  .sound-button {
    margin-left: 40%;
    bottom: 8em;
  }